* {
  padding: 0px;
  border: none;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
header,
main,
footer {
  width: 100vw;
  text-align: center;
  padding: 15px;
}
header {
  margin: 50px auto 0px auto;
}
main {
  margin: auto;
}
footer {
  margin: 0px auto 50px auto;
}
input {
  border: 1px solid black;
}
button {
  border: 1px solid black;
}
.lowerContainer {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
}
.display {
  width: 100%;
  border: 1px solid black;
}
.displayItems {
  padding: 15px;
  margin: 0px 0px 0px 30px;
  text-align: left;
}
